.details{
    background-color: rgb(231, 223, 223);
}

.details h4{
    margin-top: 1rem;
}

#txtTitle {
    width: 90%;
    margin: 1rem 2rem 1rem 0;
}

#txtNotes {
    width: 90%;
}

#btnSave{
    text-align: center;
}